pipeline/CG_DSIM_Main.json
{
	"name": "CG_DSIM_Main",
	"properties": {
		"activities": [
			{
				"name": "GetActiveWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": {
							"value": "PartitionKey eq '@{pipeline().Pipeline}' and active eq true",
							"type": "Expression"
						},
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "DSIMConfig",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEveryTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetActiveWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetActiveWatermark').output.table",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait a second",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}